
  .card{
      background-color: #ecf0f3;
  }
  
  .form-group {
      margin-bottom: 0.5rem;
  }
  
  
  
  ::-webkit-input-placeholder {
    /* styles pour les navigateurs WebKit (Safari, Chrome) */
    font-size: 0.8em;
  }
  :-moz-placeholder {
    /* styles pour les navigateurs Firefox */
    font-size: 0.8em;
  }
  ::-moz-placeholder {
    /* styles pour les navigateurs Firefox */
    font-size: 0.8em;
  }
  :-ms-input-placeholder {
    /* styles pour les navigateurs Microsoft Edge */
    font-size: 0.8em;
  }
  ::placeholder {
    /* styles pour les autres navigateurs */
    font-size: 0.8em;
  }